Repository voxpupuli/puppet-dhcp, pull requests merged in 2018-12, with the labels that each got.

#202 modulesync 2.3.0
  .editorconfig
  .github/CONTRIBUTING.md
  .msync.yml
  .pmtignore
  .travis.yml
  Gemfile
  spec/acceptance/nodesets/centos-511-x64.yml
  spec/acceptance/nodesets/centos-6-x64.yml
  spec/acceptance/nodesets/centos-66-x64-pe.yml
  spec/acceptance/nodesets/centos-66-x64.yml
  spec/acceptance/nodesets/centos-7-x64.yml
  spec/acceptance/nodesets/centos-72-x64.yml
  spec/acceptance/nodesets/debian-78-x64.yml
  spec/acceptance/nodesets/debian-82-x64.yml
  spec/acceptance/nodesets/fedora-24-x64.yml
  spec/acceptance/nodesets/fedora-25-x64.yml
  spec/acceptance/nodesets/fedora-26-x64.yml
  spec/acceptance/nodesets/fedora-27-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1204-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1404-x64.yml
  spec/acceptance/nodesets/ubuntu-server-1604-x64.yml
  spec/classes/coverage_spec.rb
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync

#203 modulesync 2.3.1
  .msync.yml
  Dockerfile
Labels: modulesync

#205 add mac address validation
  manifests/host.pp
  spec/type_aliases/mac_spec.rb
  types/mac.pp
Labels: enhancement, needs-feedback

#207 Don't add a newline between each DHCP option
  templates/dhcpd.conf-extra.erb
Labels: bug

#206 Purge useless trailing whitespace in template
  templates/dhcpd.conf-extra.erb
Labels: bug

#209 modulesync 2.4.1
  .msync.yml
  .travis.yml
  spec/default_facts.yml
  spec/spec_helper.rb
Labels: modulesync
