Repository voxpupuli/puppet-dhcp, pull requests merged in 2022-05, with the labels that each got.

#261 Add support for grouping of dhcp-pools into shared-networks
  manifests/init.pp
  manifests/pool.pp
  manifests/pool6.pp
  manifests/sharednetwork.pp
  spec/acceptance/class_spec.rb
  spec/defines/sharednetwork_spec.rb
  templates/dhcpd.sharednetwork.erb
Labels: enhancement

#262 allow to override host-subnetmask for pools
  manifests/pool.pp
  spec/defines/pool_spec.rb
  templates/dhcpd.pool.erb
Labels: enhancement

#260 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Dockerfile
  Gemfile
  Rakefile
  manifests/failover.pp
  manifests/host.pp
  manifests/init.pp
  manifests/pool.pp
  manifests/pool6.pp
  spec/acceptance/class_spec.rb
  spec/classes/dhcp_spec.rb
  spec/defines/dhcp_class_spec.rb
  spec/defines/host_spec.rb
  spec/defines/ignoredsubnet_spec.rb
  spec/defines/pool6_spec.rb
  spec/defines/pool_spec.rb
  spec/defines/sharednetwork_spec.rb
  spec/lib/module_spec_helper.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
  spec/type_aliases/mac_spec.rb
  templates/dhcpd.conf-header.erb
  templates/dhcpd.host.erb
  templates/dhcpd.pool.erb
  templates/dhcpd.pool6.erb
Labels: modulesync

#265 Release 5.0.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
