Repository voxpupuli/puppet-dhcp, pull requests merged in 2023-12, with the labels that each got.

#278 Support for puppetlabs/stdlib 9.x, concat 9.x, Debian 12, and Ubuntu 22.04
  metadata.json
Labels: enhancement

#274 modulesync 7.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
  manifests/host.pp
  spec/defines/dhcp_class_spec.rb
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#279 Release 6.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
