Repository voxpupuli/puppet-dhcp, pull requests merged in 2023-04, with the labels that each got.

#271 modulesync 5.5.0
  .github/SECURITY.md
  .gitignore
  .msync.yml
  .pmtignore
  Gemfile
  Rakefile
Labels: modulesync

#272 Add CentOS Stream 9 and RHEL 9 support
  manifests/init.pp
  manifests/params.pp
  metadata.json
  spec/classes/dhcp_spec.rb
  templates/redhat/sysconfig-dhcpd
Labels: enhancement

#273 Drop Puppet 6 support
  metadata.json
Labels: backwards-incompatible
